body {
  padding-top: 80px;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif; }

.container h1:first-of-type {
  margin-top: 0; }

.page-header {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ddd; }

.nav-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -10px;
  border: 1px solid #eeeeee; }

.status-post {
  border: 1px solid #E3E3E3;
  background: white;
  margin-bottom: 3em;
  padding: 0; }
  .status-post textarea {
    border: none; }
    .status-post textarea:focus {
      box-shadow: none; }
  .status-post .status-post-submit {
    border-top: 1px solid #E9E9E9;
    padding: .5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #FDFCFC; }
    .status-post .status-post-submit .btn {
      float: right; }

.comments__create-form textarea {
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0; }

.comments {
  margin-bottom: 5em; }

.comments__comment {
  background: #e6e6e6;
  margin-top: 0;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #e3e3e3; }

.status-media {
  border: 1px solid #E3E3E3;
  border-bottom: none;
  background: white;
  padding: 1em; }

.users {
  margin-bottom: 3em; }

.user-block {
  text-align: center; }

.user-block .media-object {
  margin: auto; }
