body {
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}
.container h1:first-of-type {
    margin-top: 0;
}
.page-header {
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}
/* Navbar */

.nav-gravatar {
    float: left;
    position: relative;
    top: -6px;
    left: -10px;
    border: 1px solid rgb(238, 238, 238);
}
/* The form to publish a new status. */

.status-post {
    border: 1px solid #E3E3E3;
    background: white;
    margin-bottom: 3em;
    padding: 0;
}
.status-post textarea {
    border: none;
}
.status-post textarea:focus {
    box-shadow: none;
}
.status-post .status-post-submit {
    border-top: 1px solid #E9E9E9;
    padding: .5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #FDFCFC;
}
.status-post-submit .btn {
    float: right;
}
.comments__create-form textarea {
    border: 1px solid #e3e3e3;
    border-top: none;
    border-radius: 0;
}
.comments {
    margin-bottom: 5em;
}
.comments__comment {
    background: darken(white, 10%);
    margin-top: 0;
    border: 1px solid darken(white, 15%);
    border-bottom: 1px solid #e3e3e3;
}
/* Each individual status */

.status-media {
    border: 1px solid #E3E3E3;
    border-bottom: none;
    background: white;
    padding: 1em;
}
/* Users lists */

.users {
    margin-bottom: 3em;
}
.user-block {
    text-align: center;
}
.user-block .media-object {
    margin: auto;
}

.req {
    margin-left: 5px;
    color: #DB6464;
}
.panel .panel-heading, .panel .panel-footer {
 background-color:#ffffff;
}

.status-body, .comments-body{
    border-bottom: 1px solid #ddd;
}

.file-preview-frame{
    margin: 5px 0px 0px !important;
    border: none !important;
}